<!-- next 3 comment set start here -->
                <!-- .comment -->
                <li class="comment odd alt thread-even depth-1" id="li-comment-405">
                    <a href="http://templatic.com" rel="external nofollow" title="Jacquelin Calo"><img alt="Jacquelin Calo" src="https://secure.gravatar.com/avatar/110cfeaa3be566e9d5863bee4c7f03b1?s=60&amp;r=g" srcset="https://secure.gravatar.com/avatar/110cfeaa3be566e9d5863bee4c7f03b1?s=120&amp;r=g 2x" class="avatar avatar-60 photo" height="60" width="60"></a>
                    <div id="comment-405" class="comment-wrap">
                        <div class="comment-header comment-author vcard">
                            <div class="comment-author">
                                <span class="comment-author vcard"><cite class="fn">Jacquelin Calo</cite></span><!-- .comment-author .vcard -->
								
								<!-- star component -->
								<div class="stars">
                                    <form action="">
                                        <input class="star star-5" id="star-53" type="radio" name="star"/>
                                        <label class="star star-5" for="star-53"></label>
                                        <input class="star star-4" id="star-43" type="radio" name="star"/>
                                        <label class="star star-4" for="star-43"></label>
                                        <input class="star star-3" id="star-33" type="radio" name="star"/>
                                        <label class="star star-3" for="star-33"></label>
                                        <input class="star star-2" id="star-23" type="radio" name="star"/>
                                        <label class="star star-2" for="star-23"></label>
                                        <input class="star star-1" id="star-13" type="radio" name="star"/>
                                        <label class="star star-1" for="star-13"></label>
                                    </form>
                                </div>
								<!-- star component -->
								
                            </div>
                            <div id="comment-405" class="comment even thread-odd thread-alt depth-1">
                                <div class="comment-text">
                                    <span class="single_rating"> 
                                    <i class="rating-on"></i><i class="rating-on"></i><i class="rating-on"></i><i class="rating-on"></i><i class="rating-off"></i>      	</span> 
                                </div>
                            </div>
                        </div>
                        <!-- .comment-meta -->
                        <div class="comment-content comment">
                            <p>Beauty for me is as an admin i have control over EVERYTHING, The whole theme is widget ready so that makes it easy for me to display the elements which i want to display. Just drag and drop the widgets and I am done. I must say this is one well thought out product as a whole, m lovin it!</p>
                        </div>
                        <!-- .comment-content -->
                        <div class="comment-meta"><span class="published"><abbr class="comment-date" title="Sunday, April 10th, 2016, 7:25 am">Apr 10, 2016</abbr> at <abbr class="comment-time" title="Sunday, April 10th, 2016, 7:25 am">7:25 am</abbr></span> <span class="comment-reply"><a rel="nofollow" class="comment-reply-link" href="https://demo.templatic.com/spotfinder/city/london/listing/wandsworth-common/?replytocom=405#respond" onclick="return addComment.moveForm( &quot;comment-405&quot;, &quot;405&quot;, &quot;respond&quot;, &quot;36862&quot; )" aria-label="Reply to Jacquelin Calo">Reply</a></span></div>
                    </div>
                    <!-- #comment-## -->
                    <ol class="children">
                        <li class="comment odd alt depth-2" id="li-comment-406">
                            <a href="http://templatic.com" rel="external nofollow" title="Coleman Akey"><img alt="Coleman Akey" src="https://secure.gravatar.com/avatar/7df1e901589ca069a6879653eb5d0f5b?s=60&amp;r=g" srcset="https://secure.gravatar.com/avatar/7df1e901589ca069a6879653eb5d0f5b?s=120&amp;r=g 2x" class="avatar avatar-60 photo" height="60" width="60"></a>
                            <div id="comment-406" class="comment-wrap">
                                <div class="comment-header comment-author vcard">
                                    <div class="comment-author">
                                        <span class="comment-author vcard"><cite class="fn">Coleman Akey</cite></span><!-- .comment-author .vcard -->
                                    </div>
                                </div>
                                <!-- .comment-meta -->
                                <div class="comment-content comment">
                                    <p>Yes, different sidebars on different pages is sensible. But did you notice this comment form below? It lets me enter my comment first and then the formalities like asking my name, email address, etc comes. It sound like a small thing but see how it affects the psyche of your readers who uses that form to post a comment.</p>
                                </div>
                                <!-- .comment-content -->
                                <div class="comment-meta"><span class="published"><abbr class="comment-date" title="Sunday, April 10th, 2016, 7:25 am">Apr 10, 2016</abbr> at <abbr class="comment-time" title="Sunday, April 10th, 2016, 7:25 am">7:25 am</abbr></span> <span class="comment-reply"><a rel="nofollow" class="comment-reply-link" href="https://demo.templatic.com/spotfinder/city/london/listing/wandsworth-common/?replytocom=406#respond" onclick="return addComment.moveForm( &quot;comment-406&quot;, &quot;406&quot;, &quot;respond&quot;, &quot;36862&quot; )" aria-label="Reply to Coleman Akey">Reply</a></span></div>
                            </div>
                            <!-- #comment-## -->
                            <ol class="children">
                                <li class="comment even depth-3" id="li-comment-407">
                                    <a href="http://templatic.com" rel="external nofollow" title="Shawn Milliner"><img alt="Shawn Milliner" src="https://secure.gravatar.com/avatar/4cccc653bc57be4d7e548366a637a7a5?s=60&amp;r=g" srcset="https://secure.gravatar.com/avatar/4cccc653bc57be4d7e548366a637a7a5?s=120&amp;r=g 2x" class="avatar avatar-60 photo" height="60" width="60"></a>
                                    <div id="comment-407" class="comment-wrap">
                                        <div class="comment-header comment-author vcard">
                                            <div class="comment-author">
                                                <span class="comment-author vcard"><cite class="fn">Shawn Milliner</cite></span><!-- .comment-author .vcard -->
                                            </div>
                                        </div>
                                        <!-- .comment-meta -->
                                        <div class="comment-content comment">
                                            <p>The sidebar of this theme is so prominent that it is the best place to show advertisement banners, if you plan to monetize your blog with different advertisement banners, this WordPress theme you should go for.</p>
                                        </div>
                                        <!-- .comment-content -->
                                        <div class="comment-meta"><span class="published"><abbr class="comment-date" title="Sunday, April 10th, 2016, 7:25 am">Apr 10, 2016</abbr> at <abbr class="comment-time" title="Sunday, April 10th, 2016, 7:25 am">7:25 am</abbr></span> <span class="comment-reply"><a rel="nofollow" class="comment-reply-link" href="https://demo.templatic.com/spotfinder/city/london/listing/wandsworth-common/?replytocom=407#respond" onclick="return addComment.moveForm( &quot;comment-407&quot;, &quot;407&quot;, &quot;respond&quot;, &quot;36862&quot; )" aria-label="Reply to Shawn Milliner">Reply</a></span></div>
                                    </div>
                                    <!-- #comment-## -->
                                </li>
                                <!-- .comment -->
                            </ol>
                            <!-- .children -->
                        </li>
                        <!-- .comment -->
                    </ol>
                    <!-- .children -->
                </li>
				
				
				
                <!-- .comment -->
                <li class="comment odd alt thread-even depth-1" id="li-comment-408">
                    <a href="http://templatic.com" rel="external nofollow" title="Kari Immel"><img alt="Kari Immel" src="https://secure.gravatar.com/avatar/e8ab4dbfca693580268b15a294d8bf6c?s=60&amp;r=g" srcset="https://secure.gravatar.com/avatar/e8ab4dbfca693580268b15a294d8bf6c?s=120&amp;r=g 2x" class="avatar avatar-60 photo" height="60" width="60"></a>
                    <div id="comment-408" class="comment-wrap">
                        <div class="comment-header comment-author vcard">
                            <div class="comment-author">
                                <span class="comment-author vcard"><cite class="fn">Kari Immel</cite></span><!-- .comment-author .vcard -->
								
								<!-- star component -->
								<div class="stars">
                                    <form action="">
                                        <input class="star star-5" id="star-54" type="radio" name="star"/>
                                        <label class="star star-5" for="star-54"></label>
                                        <input class="star star-4" id="star-44" type="radio" name="star"/>
                                        <label class="star star-4" for="star-44"></label>
                                        <input class="star star-3" id="star-34" type="radio" name="star"/>
                                        <label class="star star-3" for="star-34"></label>
                                        <input class="star star-2" id="star-24" type="radio" name="star"/>
                                        <label class="star star-2" for="star-24"></label>
                                        <input class="star star-1" id="star-14" type="radio" name="star"/>
                                        <label class="star star-1" for="star-14"></label>
                                    </form>
                                </div>
								<!-- star component -->
								
                            </div>
                            <div id="comment-408" class="comment even thread-odd thread-alt depth-1">
                                <div class="comment-text">
                                    <span class="single_rating"> 
                                    <i class="rating-on"></i><i class="rating-on"></i><i class="rating-on"></i><i class="rating-on"></i><i class="rating-off"></i>      	</span> 
                                </div>
                            </div>
                        </div>
                        <!-- .comment-meta -->
                        <div class="comment-content comment">
                            <p>This seems like a cool looking WordPress theme for starting a personal blog, the focus is on the content and i am loving the typography of the blog. Readability is what bloggers look for and in my opinion this theme is a perfect match.</p>
                        </div>
                        <!-- .comment-content -->
                        <div class="comment-meta"><span class="published"><abbr class="comment-date" title="Sunday, April 10th, 2016, 7:25 am">Apr 10, 2016</abbr> at <abbr class="comment-time" title="Sunday, April 10th, 2016, 7:25 am">7:25 am</abbr></span> <span class="comment-reply"><a rel="nofollow" class="comment-reply-link" href="https://demo.templatic.com/spotfinder/city/london/listing/wandsworth-common/?replytocom=408#respond" onclick="return addComment.moveForm( &quot;comment-408&quot;, &quot;408&quot;, &quot;respond&quot;, &quot;36862&quot; )" aria-label="Reply to Kari Immel">Reply</a></span></div>
                    </div>
                    <!-- #comment-## -->
                </li>
                <!-- .comment -->
				
				
				

				<!-- .comment -->
                <li class="comment odd alt thread-even depth-1" id="li-comment-408">
                    <a href="http://templatic.com" rel="external nofollow" title="Kari Immel"><img alt="Kari Immel" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/2/000/0e3/237/1e0d7ac.jpg" srcset="https://secure.gravatar.com/avatar/e8ab4dbfca693580268b15a294d8bf6c?s=120&amp;r=g 2x" class="avatar avatar-60 photo" height="60" width="60"></a>
                    <div id="comment-408" class="comment-wrap">
                        <div class="comment-header comment-author vcard">
                            <div class="comment-author">
                                <span class="comment-author vcard"><cite class="fn">Saurabh Gattani</cite></span><!-- .comment-author .vcard -->
								
								<!-- star component -->
								<div class="stars">
                                    <form action="">
                                        <input class="star star-5" id="star-54" type="radio" name="star"/>
                                        <label class="star star-5" for="star-54"></label>
                                        <input class="star star-4" id="star-44" type="radio" name="star"/>
                                        <label class="star star-4" for="star-44"></label>
                                        <input class="star star-3" id="star-34" type="radio" name="star"/>
                                        <label class="star star-3" for="star-34"></label>
                                        <input class="star star-2" id="star-24" type="radio" name="star"/>
                                        <label class="star star-2" for="star-24"></label>
                                        <input class="star star-1" id="star-14" type="radio" name="star"/>
                                        <label class="star star-1" for="star-14"></label>
                                    </form>
                                </div>
								<!-- star component -->
								
                            </div>
                            <div id="comment-408" class="comment even thread-odd thread-alt depth-1">
                                <div class="comment-text">
                                    <span class="single_rating"> 
                                    <i class="rating-on"></i><i class="rating-on"></i><i class="rating-on"></i><i class="rating-on"></i><i class="rating-off"></i>      	</span> 
                                </div>
                            </div>
                        </div>
                        <!-- .comment-meta -->
                        <div class="comment-content comment">
                            <p>This seems like a cool looking directory theme, the focus is on the content and i am loving the typography of the blog. Readability is what bloggers look for and in my opinion this theme is a perfect match.</p>
                        </div>
                        <!-- .comment-content -->
                        <div class="comment-meta"><span class="published"><abbr class="comment-date" title="Sunday, April 10th, 2016, 7:25 am">Apr 10, 2016</abbr> at <abbr class="comment-time" title="Sunday, April 10th, 2016, 7:25 am">7:25 am</abbr></span> <span class="comment-reply"><a rel="nofollow" class="comment-reply-link" href="https://demo.templatic.com/spotfinder/city/london/listing/wandsworth-common/?replytocom=408#respond" onclick="return addComment.moveForm( &quot;comment-408&quot;, &quot;408&quot;, &quot;respond&quot;, &quot;36862&quot; )" aria-label="Reply to Kari Immel">Reply</a></span></div>
                    </div>
                    <!-- #comment-## -->
                </li>
                <!-- .comment -->