

<li class="comment even thread-even depth-1" id="li-comment-401">
                    <a href="http://templatic.com" rel="external nofollow" title="Brad Kesselman"><img alt="Brad Kesselman" src="https://secure.gravatar.com/avatar/956908ff045a3234a5dc974c335aaa54?s=60&amp;r=g" srcset="https://secure.gravatar.com/avatar/956908ff045a3234a5dc974c335aaa54?s=120&amp;r=g 2x" class="avatar avatar-60 photo" height="60" width="60"></a>
                    <div id="comment-401" class="comment-wrap">
                        <div class="comment-header comment-author vcard">
                            <div class="comment-author">
                                <span class="comment-author vcard"><cite class="fn">Brad Kesselman</cite></span><!-- .comment-author .vcard -->
                                <div class="stars">
                                    <form action="">
                                        <input class="star star-5" id="star-5" type="radio" name="star"/>
                                        <label class="star star-5" for="star-5"></label>
                                        <input class="star star-4" id="star-4" type="radio" name="star"/>
                                        <label class="star star-4" for="star-4"></label>
                                        <input class="star star-3" id="star-3" type="radio" name="star"/>
                                        <label class="star star-3" for="star-3"></label>
                                        <input class="star star-2" id="star-2" type="radio" name="star"/>
                                        <label class="star star-2" for="star-2"></label>
                                        <input class="star star-1" id="star-1" type="radio" name="star"/>
                                        <label class="star star-1" for="star-1"></label>
                                    </form>
                                </div>
                            </div>
                            <div id="comment-401" class="comment odd alt thread-odd thread-alt depth-1">
                                <div class="comment-text">
                                    <span class="single_rating"> 
                                    <i class="rating-on"></i><i class="rating-on"></i><i class="rating-on"></i><i class="rating-on"></i><i class="rating-off"></i>      	</span> 
                                </div>
                            </div>
                        </div>
                        <!-- .comment-meta -->
                        <div class="comment-content comment">
                            <p>Did you notice different sidebars on different pages? With that option i can have right content at right place, I will be gutted if i was forced to display same sidebars on all pages. I must say the small but important things were taken cared of nicely in this theme.</p>
                        </div>
                        <!-- .comment-content -->
                        <div class="comment-meta"><span class="published"><abbr class="comment-date" title="Sunday, April 10th, 2016, 7:25 am">Apr 10, 2016</abbr> at <abbr class="comment-time" title="Sunday, April 10th, 2016, 7:25 am">7:25 am</abbr></span> <span class="comment-reply"><a rel="nofollow" class="comment-reply-link" href="https://demo.templatic.com/spotfinder/city/london/listing/wandsworth-common/?replytocom=401#respond" onclick="return addComment.moveForm( &quot;comment-401&quot;, &quot;401&quot;, &quot;respond&quot;, &quot;36862&quot; )" aria-label="Reply to Brad Kesselman">Reply</a></span></div>
                    </div>
                    <!-- #comment-## -->
                    <ol class="children">
                        <li class="comment even depth-2" id="li-comment-402">
                            <a href="http://templatic.com" rel="external nofollow" title="Kari Immel"><img alt="Kari Immel" src="https://secure.gravatar.com/avatar/e8ab4dbfca693580268b15a294d8bf6c?s=60&amp;r=g" srcset="https://secure.gravatar.com/avatar/e8ab4dbfca693580268b15a294d8bf6c?s=120&amp;r=g 2x" class="avatar avatar-60 photo" height="60" width="60"></a>
                            <div id="comment-402" class="comment-wrap">
                                <div class="comment-header comment-author vcard">
                                    <div class="comment-author">
                                        <span class="comment-author vcard"><cite class="fn">Kari Immel</cite></span><!-- .comment-author .vcard -->
                                    </div>
                                </div>
                                <!-- .comment-meta -->
                                <div class="comment-content comment">
                                    <p>Yes, different sidebars on different pages is sensible. But did you notice this comment form below? It lets me enter my comment first and then the formalities like asking my name, email address, etc comes. It sound like a small thing but see how it affects the psyche of your readers who uses that form to post a comment.</p>
                                </div>
                                <!-- .comment-content -->
                                <div class="comment-meta"><span class="published"><abbr class="comment-date" title="Sunday, April 10th, 2016, 7:25 am">Apr 10, 2016</abbr> at <abbr class="comment-time" title="Sunday, April 10th, 2016, 7:25 am">7:25 am</abbr></span> <span class="comment-reply"><a rel="nofollow" class="comment-reply-link" href="https://demo.templatic.com/spotfinder/city/london/listing/wandsworth-common/?replytocom=402#respond" onclick="return addComment.moveForm( &quot;comment-402&quot;, &quot;402&quot;, &quot;respond&quot;, &quot;36862&quot; )" aria-label="Reply to Kari Immel">Reply</a></span></div>
                            </div>
                            <!-- #comment-## -->
                        </li>
                        <!-- .comment -->
                    </ol>
                    <!-- .children -->
                </li>
				
				
				
                <!-- .comment -->
                <li class="comment odd alt thread-even depth-1" id="li-comment-403">
                    <a href="http://templatic.com" rel="external nofollow" title="Shawn Milliner"><img alt="Shawn Milliner" src="https://secure.gravatar.com/avatar/4cccc653bc57be4d7e548366a637a7a5?s=60&amp;r=g" srcset="https://secure.gravatar.com/avatar/4cccc653bc57be4d7e548366a637a7a5?s=120&amp;r=g 2x" class="avatar avatar-60 photo" height="60" width="60"></a>
                    <div id="comment-403" class="comment-wrap">
                        <div class="comment-header comment-author vcard">
                            <div class="comment-author">
                                <span class="comment-author vcard"><cite class="fn">Shawn Milliner</cite></span><!-- .comment-author .vcard -->
								
								<!-- star component -->
								<div class="stars">
                                    <form action="">
                                        <input class="star star-5" id="star-51" type="radio" name="star"/>
                                        <label class="star star-5" for="star-51"></label>
                                        <input class="star star-4" id="star-41" type="radio" name="star"/>
                                        <label class="star star-4" for="star-41"></label>
                                        <input class="star star-3" id="star-31" type="radio" name="star"/>
                                        <label class="star star-3" for="star-31"></label>
                                        <input class="star star-2" id="star-21" type="radio" name="star"/>
                                        <label class="star star-2" for="star-21"></label>
                                        <input class="star star-1" id="star-11" type="radio" name="star"/>
                                        <label class="star star-1" for="star-11"></label>
                                    </form>
                                </div>
								<!-- star component -->
								
                            </div>
                            <div id="comment-403" class="comment even thread-odd thread-alt depth-1">
                                <div class="comment-text">
                                    <span class="single_rating"> 
                                    <i class="rating-on"></i><i class="rating-on"></i><i class="rating-on"></i><i class="rating-on"></i><i class="rating-on"></i>      	</span> 
                                </div>
                            </div>
                        </div>
                        <!-- .comment-meta -->
                        <div class="comment-content comment">
                            <p>The sidebar of this theme is so prominent that it is the best place to show advertisement banners, if you plan to monetize your blog with different advertisement banners, this WordPress theme you should go for.</p>
                        </div>
                        <!-- .comment-content -->
                        <div class="comment-meta"><span class="published"><abbr class="comment-date" title="Sunday, April 10th, 2016, 7:25 am">Apr 10, 2016</abbr> at <abbr class="comment-time" title="Sunday, April 10th, 2016, 7:25 am">7:25 am</abbr></span> <span class="comment-reply"><a rel="nofollow" class="comment-reply-link" href="https://demo.templatic.com/spotfinder/city/london/listing/wandsworth-common/?replytocom=403#respond" onclick="return addComment.moveForm( &quot;comment-403&quot;, &quot;403&quot;, &quot;respond&quot;, &quot;36862&quot; )" aria-label="Reply to Shawn Milliner">Reply</a></span></div>
                    </div>
                    <!-- #comment-## -->
                </li>
				
				
				
                <!-- .comment -->
                <li class="comment odd alt thread-even depth-1" id="li-comment-404">
                    <a href="http://templatic.com" rel="external nofollow" title="Coleman Akey"><img alt="Coleman Akey" src="https://secure.gravatar.com/avatar/7df1e901589ca069a6879653eb5d0f5b?s=60&amp;r=g" srcset="https://secure.gravatar.com/avatar/7df1e901589ca069a6879653eb5d0f5b?s=120&amp;r=g 2x" class="avatar avatar-60 photo" height="60" width="60"></a>
                    <div id="comment-404" class="comment-wrap">
                        <div class="comment-header comment-author vcard">
                            <div class="comment-author">
                                <span class="comment-author vcard"><cite class="fn">Coleman Akey</cite></span><!-- .comment-author .vcard -->
								
								<!-- star component -->
								<div class="stars">
                                    <form action="">
                                        <input class="star star-5" id="star-52" type="radio" name="star"/>
                                        <label class="star star-5" for="star-52"></label>
                                        <input class="star star-4" id="star-42" type="radio" name="star"/>
                                        <label class="star star-4" for="star-42"></label>
                                        <input class="star star-3" id="star-32" type="radio" name="star"/>
                                        <label class="star star-3" for="star-32"></label>
                                        <input class="star star-2" id="star-22" type="radio" name="star"/>
                                        <label class="star star-2" for="star-22"></label>
                                        <input class="star star-1" id="star-12" type="radio" name="star"/>
                                        <label class="star star-1" for="star-12"></label>
                                    </form>
                                </div>
								<!-- star component -->
								
                            </div>
                            <div id="comment-404" class="comment even thread-odd thread-alt depth-1">
                                <div class="comment-text">
                                    <span class="single_rating"> 
                                    <i class="rating-on"></i><i class="rating-on"></i><i class="rating-on"></i><i class="rating-on"></i><i class="rating-off"></i>      	</span> 
                                </div>
                            </div>
                        </div>
                        <!-- .comment-meta -->
                        <div class="comment-content comment">
                            <p>Along with the text content, media content like images and vidoes are also presented beautifully with this theme, i can have images in my post the way i want it and it just looks awesome.</p>
                        </div>
                        <!-- .comment-content -->
                        <div class="comment-meta"><span class="published"><abbr class="comment-date" title="Sunday, April 10th, 2016, 7:25 am">Apr 10, 2016</abbr> at <abbr class="comment-time" title="Sunday, April 10th, 2016, 7:25 am">7:25 am</abbr></span> <span class="comment-reply"><a rel="nofollow" class="comment-reply-link" href="https://demo.templatic.com/spotfinder/city/london/listing/wandsworth-common/?replytocom=404#respond" onclick="return addComment.moveForm( &quot;comment-404&quot;, &quot;404&quot;, &quot;respond&quot;, &quot;36862&quot; )" aria-label="Reply to Coleman Akey">Reply</a></span></div>
                    </div>
                    <!-- #comment-## -->
                </li>
			
				